---
interface Props {
  title: string;
  style?: string;
  color: string;
  description: string;
  caracteristics: string[];
}

const { title, style, color, description, caracteristics } = Astro.props;
---

<div
  class={`${style} flex flex-col px-6 py-10 bg-white rounded-lg shadow-lg border border-gray-200"`}
>
  <h3 class="text-2xl md:text-4xl font-bold mb-4" style={`color: ${color}`}>
    {title}
  </h3>
  <p class="text-md mb-4">
    {description}
  </p>

  <h4 class="text-gray-600 mt-4 mb-2 text-sm sm:text-base font-bold">
    Caracteristicas
  </h4>
  <ul class="mb-12 space-y-2 pl-2 md:pl-4">
    {
      caracteristics.map((caracteristic) => (
        <li class="flex items-center">
          <span class="h-5 w-5 mr-2" style={`color: ${color}`} />
          {caracteristic}
        </li>
      ))
    }
  </ul>

  <button
    class="text-white mt-auto hover:bg-[#fff] shadow-md transition-all hover:shadow-lg backdrop-blur-sm font-semibold px-6 py-3 rounded-full z-10"
    style={`background-color: ${color}`}
  >
    Elegir plan</button
  >
</div>
